/* The Style start here  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* The first section start here */
/* The navigation section element styles start here  */
.button-primary{
    width: 190px;
height: 40px;
border: 1px solid rgb(159, 183, 25);
background-color:red;
border-radius: 5px;

}
.button-bar{
    width: 180px;
    height: 40px;
    border: 1px solid rgb(183, 25, 143);
    background-color: #afc93a;
    border-radius: 5px;
    
}
.nav-title{
    max-width: 128px;
max-height: 33px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
}
.nav-bar{
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 17px 24px 17px 24px;

}
nav ul li{
    list-style: none;
}
/* The navigation section element styles end here  */
/* The banner part styles start here */
.banner{
    background-image:url("assets/Hero-bg.png");
    max-width: 1220px;
max-height: 652px;
margin:15px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


}
.banner-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 700;

}
.banner-text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 40px;

}
.button-bar{
    max-width: 190px;
max-height: 39px;
color:rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 400;
border-radius: 8px;
background: rgb(13, 19, 33);
gap: 50px;

}
/* The banner part styles end here */
/* The first section end here */
/* The second section start here */
.second-banner{
    max-width: 1140px;
max-height: 1000px;
background: rgba(13, 19, 33, 0.02);
border-radius: 16px;
margin: 50px;

}
.nav{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.why-web-development{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
}
.div-first{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.div-second{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.div-third{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* The second section end here */
/* The third section start here */
.third-banner{
   width: 800px;
height: 500px;

padding: 110px 140px;
background-position: center;
margin-bottom: 15px;
margin-left: 50px;
border-radius:10px;

}
.video{
    align-items: center;
    margin: 10px 10px;
    width: 976px;
height: 50px;
border-radius: 16px;
text-align: center;
flex: none;

}
/* The third section end here */
/* The fourth section start here */
.fourth-banner{
    width: 1100px;
height: 600px;

background-position: center;
margin-left: 50px;



}
.skill-container{
    display: flex;
    gap:10px;
}
.skill-one{
    padding: 30px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
width: 364px;
height: 299px;
}
.skill-two{
    padding: 30px;
    border-radius: 16px;
background: rgba(241, 12, 165, 0.05);
width: 364px;

height: 299px;
}
.skill-three{
    padding: 30px;
    border-radius: 16px;
background: rgba(5, 241, 80, 0.05);
width: 364px;
height: 299px;

}
/* The fourth section end here */

/* The fifth section start here */
.fifth-banner{
    max-width: 1140px;
height: 850px;

margin-top:40px ;
background-position: center;
margin-bottom:40px ;
margin-left: 40px;
}
.target-container{
   padding:50px;
   gap:20px;
   display: flex;
   justify-content: space-around;


} 

/* The fifth section end here */
.text-center{
text-align: center;
color: rgb(172, 174, 178);
}
.header-center{
    text-align: center;
   color: rgb(13, 19, 33)
 } 


/* footer section start  here  */
.footer{
  
    width: 1200px;
    height: 553px;
    background-image: url(assets/handshake.jpg);
    margin-top: 50px;
    background-position: center;
    border-radius: 5px;
   background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
   margin-left:30px;
   display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.input-button{
    width: 450px;
height: 55px;
border: 1px solid rgb(13, 19, 33);
border-radius: 5px;
margin-top: 50px;
margin-bottom: 20px;


}
.submit-button{
    /* justify-items: center; */
    width: 150px;
height: 55px;
border: 1px solid rgb(13, 19, 33);
border-radius: 10px;

}
